#include <zephyr/dt-bindings/sensor/ism330dhcx.h>
#include <nxp/nxp_imx/rt/mimxrt1062dvl6a-pinctrl.dtsi>

/ {
    chosen {
        zephyr,console = &cdc_acm_uart0;
        zephyr,shell-uart = &cdc_acm_uart0;
    };
    
	aliases {
		stream0 = &imu;
		stream1 = &barometer;
	};

    servo0: servo0 {
        compatible = "pwm-servo";
        pwms = <&flexpwm4_pwm2 0 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
        min-pulse = <PWM_USEC(400)>;
        max-pulse = <PWM_USEC(2400)>;
    };

    servo1: servo1 {
        compatible = "pwm-servo";
        pwms = <&flexpwm4_pwm2 1 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
        min-pulse = <PWM_USEC(400)>;
        max-pulse = <PWM_USEC(2400)>;
    };

    servo2: servod {
        compatible = "pwm-servo";
        pwms = <&flexpwm2_pwm0 0 PWM_MSEC(10) PWM_POLARITY_NORMAL>;
        min-pulse = <PWM_USEC(400)>;
        max-pulse = <PWM_USEC(2400)>;
    };

    servo3: servo3 {
        compatible = "pwm-servo";
        pwms = <&flexpwm2_pwm1 0 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
        min-pulse = <PWM_USEC(400)>;
        max-pulse = <PWM_USEC(2400)>;
    };
};

&zephyr_udc0 {
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
    };
};

&gpio3 {
    status = "okay";
};

/* Arduino SPI header (pins 10-13) on LPSPI4 */
&lpspi4 {
    transfer-delay = <50>;
    status = "okay";   
    pinctrl-0 = <&pinmux_lpspi4>;
    pcs-sck-delay= <25>;
    sck-pcs-delay= <25>;
    pinctrl-names = "default";

    //cs-gpios = <&gpio2 0 GPIO_ACTIVE_LOW>;

    imu: aism330dhcx@0 {
        compatible = "st,ism330dhcx";
        reg = <0>;
        spi-max-frequency = <1000000>;
        drdy-gpios = <&gpio3 18 GPIO_ACTIVE_HIGH>; //, <&gpio4 32 GPIO_ACTIVE_HIGH>;

        accel-odr = <ISM330DHCX_DT_ODR_12Hz5>;
        gyro-odr  = <ISM330DHCX_DT_ODR_12Hz5>;

        accel-range = <8>;      /* ±8 g */
        gyro-range  = <2000>;   /* ±2000 dps */
    };
};

&lpi2c1 {
    status = "okay";
    pinctrl-0 = <&pinmux_lpi2c1>;
    pinctrl-names = "default";

    barometer: bme280@76 {
        compatible = "bosch,bme280";
        reg = <0x76>;
    };
};

&pinctrl {
	pinmux_flexpwm4_ch2: pinmux_flexpwm4_ch2 {
		group0 {
			pinmux = <&iomuxc_gpio_emc_04_flexpwm4_pwma2>, //output A
                    <&iomuxc_gpio_emc_05_flexpwm4_pwmb2>; //output B
			drive-strength = "r0-7";
			slew-rate = "fast";
			nxp,speed = "200-mhz";
		};
	};

	pinmux_flexpwm2_ch0: pinmux_flexpwm4_ch0 {
		group0 {
			pinmux = <&iomuxc_gpio_emc_06_flexpwm2_pwma0>; //output A
			drive-strength = "r0-7";
			slew-rate = "fast";
			nxp,speed = "200-mhz";
		};
	};

	pinmux_flexpwm2_ch1: pinmux_flexpwm4_ch1 {
		group0 {
			pinmux = <&iomuxc_gpio_emc_08_flexpwm2_pwma1>; //output A
			drive-strength = "r0-7";
			slew-rate = "fast";
			nxp,speed = "200-mhz";
		};
	};
};

&flexpwm4_pwm2 {
	status = "okay";
	pinctrl-0 = <&pinmux_flexpwm4_ch2>;
	pinctrl-names = "default";
	nxp,prescaler = <64>;
};

&flexpwm2_pwm0 {
	status = "okay";
	pinctrl-0 = <&pinmux_flexpwm2_ch0>;
	pinctrl-names = "default";
	nxp,prescaler = <64>;
};

&flexpwm2_pwm1 {
	status = "okay";
	pinctrl-0 = <&pinmux_flexpwm2_ch1>;
	pinctrl-names = "default";
	nxp,prescaler = <64>;
};

